*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #0e0d0d;
    font-family: 'calibri';
    color: aliceblue;

}

header{
    background: #03a9f4;
    width: 100%;
    content: '';
    display: flex;
    justify-content: space-between;
    

    
}

.menu{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    
}

.cv{
    width: 110px;

}


.estilonav{
    padding: 40px;
}

.foto{
    display: flex;
    justify-content: center;
}

.botones{
    position: absolute;
    left: 420px;
    font-size: 20px;
    text-align: center;
}

.foto1{
    border-radius: 50px;
}

.logos{
    width: 50px;
}

.nav1{
    list-style: none;
    font-size: 20px;
    width: 300px;
	height: 320px;
    position: relative;
    left: 100px;
    margin-top: 100px;

}

.nav2{
    font-size: 20px;
    width: 290px;
    height: 310px;
    position: relative;
    left: 700px;

}

ul{
    list-style: none;
}

